/PhoneWord/bin
/PhoneWord/obj
bin
obj
/Telesena/Telesena.Android/obj
/Telesena/Telesena.Android/bin
/Telesena/Telesena.iOS/bin
/Telesena/Telesena.iOS/obj
/Telesena/Telesena.UWP/obj
/Telesena/Telesena.UWP/bin
